<div class="p-3 list-titles">

    <h2 class="h4">Adicionados recentemente</h2>

    <div class="d-flex flex-nowrap overflow-hidden">

        <!--Lista 1-->
        <app-title title="Adicionado recentemente"></app-title>
         <!--Lista 2-->
        <app-title title="Em alta"></app-title>
         <!--Lista 3-->
        <app-title title="Continuar assistindo como SINDAUX"></app-title>
         <!--Lista 4-->
        <app-title title="Continuar assistindo como SINDAUX"></app-title>
                
    </div>
  
</div>